.active {
  color: #9ca3af;
  border-bottom: 2px solid #0e7490;
}
.chevron_rotate {
  transform: rotate(180deg);
}
.productActive {
  color: #d1d5db;
  border-bottom: 2px solid #06b6d4;
  transition: all 0.25s ease-out;
}
.productUnActive {
  color: #4b5563;
}
.sortActive {
  background-color: #06b6d4;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.addFavorite {
  stroke: red;
  fill: red;
}
